@import './mixins/normalize';
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

$accent-color: yellow;


// BODY STYLES
body {
  font-family: 'Pixelify Sans', sans-serif;
  font-size: 16px;
  letter-spacing: 0.1em;
  line-height: 1.5;
  background-color: black;
  color: whitesmoke;
}

// BUTTON STYLES
.btn {
  padding: 0.5em 1em;
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  border: 2px solid whitesmoke;
  border-radius: 0.5em;
  background-color: transparent;
  color: whitesmoke;
  transition: background-color 0.3s, color 0.3s;

  &:hover {
    border: 2px solid $accent-color;
    background-color: $accent-color;
    color: black;
  }
}

// CONTAINER STYLES
header {
  font-size: 1.8rem;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  padding: 1em 0;

  @media (max-width: 768px) {
    font-size: 1.5rem;
  }
}

.screen {
  position: absolute;
  top: calc(2em + 1.8rem);
  left: 0;
  height: calc(100% - 2em - 1.8rem);
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0.5s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &--active {
    opacity: 1;
    visibility: visible;
  }
}

.screen--start {
  h1 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1em;
    text-transform: uppercase;
    cursor: pointer;

    &:hover {
      color: $accent-color;
    }
  }
}

.screen--game {
  h2 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1em;
    text-transform: uppercase;

    @media (max-width: 768px) {
      font-size: 2rem;
    }
  }

  .game__weapons {
    display: flex;
    justify-content: center;
    gap: 1.2em;
    flex-wrap: wrap;

    .game__weapon {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.5em;
      cursor: pointer;
      transition: transform 0.1s;

      p {
        font-size: 1.5rem;
        font-weight: 700;
        text-transform: uppercase;
      }

      img {
        width: 200px;
        height: 200px;
        border: 1px solid whitesmoke;
        border-radius: .5em;

        @media (max-width: 768px) {
          width: 175px;
          height: 175px;
        }
      }
    }

    .game__weapon:hover {
      transform: scale(1.1);

      p {
        color: $accent-color;
        filter: drop-shadow(0 0 0.5em $accent-color);
      }

      img {
        border: 2px solid $accent-color;
        box-shadow: 0 0 0.5em $accent-color;
      }
    }
  }

  @media (max-width: 768px) {
    top: calc(2em + 1.5rem + 5em);
  }
}

.screen--results {
  h2 {
    font-size: 2.5rem;
    font-weight: 700;
    text-transform: uppercase;
  }

  .results__players {
    font-size: 2.5rem;;
    text-align: center;
    margin-bottom: 1em;
  }

  span {
    color: $accent-color;
    text-transform: uppercase;
  }

  .results__winner {
    font-size: 2.5rem;
    text-transform: uppercase;
    margin-bottom: 1em;
    text-align: center;

    #winner__message {
      color: $accent-color;
    }
  }
}
